## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: vpn-firewall
Section: net
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 8), faketime, git
Homepage: https://github.com/adrelanos/VPN-Firewall
Vcs-Browser: https://github.com/adrelanos/VPN-Firewall
Vcs-Git: https://github.com/adrelanos/VPN-Firewall.git
Standards-Version: 3.9.6

Package: vpn-firewall
Architecture: all
Depends: netfilter-persistent, ${misc:Depends}
Description: Ensures no traffic is send, once OpenVPN breaks down for some reason
 If you simply add a VPN using common instructions, it generally fails open.
 That means, if the VPN breaks down, because the connection is interrupted,
 traffic will be send without the VPN.
 .
 It's much safer when it fails closed, i.e. when the VPN connection breaks down,
 the whole internet connection must be down as long as the VPN connection isn't
 restored.
 .
 VPN-Firewall helps solving that problem. See its full readme for a list of
 things it does (not) do.
